<div class="w-full py-3 px-2">
  <button class="unstyled" (click)="goBack()">
    <lucide-icon [img]="ArrowLeftIcon" />
  </button>
</div>

<form
  [formGroup]="transactionForm"
  (ngSubmit)="handleSubmit()"
  class="flex flex-1 flex-col px-2"
  autocomplete="off"
>
  <h1>Precio de venta</h1>

  <label class="flex flex-row items-center justify-center w-full h-full">
    <p class="text-xl mr-1">$</p>
    <input
      type="number"
      class="text-left text-3xl placeholder:text-main"
      [ngStyle]="currentStyles"
      min="0"
      formControlName="amount"
      placeholder="0"
      (ngModelChange)="onAmountChange($event)"
      name="amount"
    />
  </label>

  <div class="p-1 pb-2 gap-1">
    <app-input-radio
      [icon]="BanknoteIcon"
      formControlName="paymentMethod"
      title="Efectivo"
      name="paymentMethod"
      value="cash"
      [isChecked]="true"
    />
    <app-input-radio
      [icon]="CreditCardIcon"
      title="Banco"
      formControlName="paymentMethod"
      name="paymentMethod"
      value="bank"
    />
  </div>

  <div class="mt-1 mb-3">
    <app-button-primary type="submit" />
  </div>
</form>
