<div class="w-full py-3 px-2">
  <button class="unstyled" (click)="goBack()">
    <lucide-icon [img]="ArrowLeftIcon" />
  </button>
</div>

<form
  [formGroup]="contributionForm"
  (ngSubmit)="handleSubmit()"
  class="flex flex-col flex-1 px-2 justify-between"
>
  <div class="gap-2">
    <div class="w-full px-2 py-3">
      <h1 class="text-center">Detalle de Compra</h1>
    </div>

    <!-- Purchase Review -->
    <section>
      <h2>{{ selectedProduct.title }}</h2>

      <table class="w-32 mt-2 ml-2">
        <tr>
          <td>Precio</td>
          <td>{{ selectedProduct.price }}</td>
        </tr>
        <tr>
          <td>Envío</td>
          <td>{{ selectedProduct.shippingCosts }}</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>{{ totalCost }}</td>
        </tr>
      </table>
    </section>

    <!-- Payment Method -->
    <section>
      <h2>Método de Pago</h2>
      <app-input-radio
        [icon]="BanknoteIcon"
        formControlName="paymentMethod"
        title="Efectivo"
        name="paymentMethod"
        [isChecked]="isCash"
        value="cash"
      />
      <app-input-radio
        [icon]="CreditCardIcon"
        title="Banco"
        formControlName="paymentMethod"
        name="paymentMethod"
        [isChecked]="isBank"
        value="bank"
      />
    </section>

    <!-- Actors -->
    <section>
      <h2>Distribución de la Inversión</h2>
      <!-- Actors List -->
      <div class="flex items-center justify-center gap-2">
        <div>
          <app-actor-list [actors]="actors" />
          <!-- TODO: add actor should open a different form to add a partner to the company -->
          <button
            type="button"
            class="bg-primary flex flex-row items-center justify-center gap-2"
          >
            <lucide-icon [img]="PlusIcon" />
            <p>Agregar Inversionista</p>
          </button>
        </div>
      </div>
    </section>
  </div>

  <!-- Submit Button -->
  <div class="py-3 self-end">
    <!-- TODO: Replace disabled with form validation (availableAmount for payment method >= totalCost) -->
    <button class="primary bg-secondary" type="submit" [disabled]="false">
      <p>Terminar</p>
      <lucide-icon [img]="ChevronRightIcon" />
    </button>
  </div>
</form>
