<a routerLink="" class="absolute right-2 top-2">
  <button class="unstyled p-4">
    <lucide-icon [img]="XIcon" />
  </button>
</a>
<form action="" class="px-2 pt-8">
  <h1>Registrar Ingreso</h1>

  <label class="flex flex-1 flex-row items-center justify-center">
    <p>$</p>
    <input type="number" placeholder="0" />
  </label>

  <div>
    <app-input-radio
      [icon]="BadgePlusIcon"
      title="Efectivo"
      name="paymentMethod"
      [checked]="isCash"
      value="cash"
    />
    <app-input-radio
      [icon]="BadgeMinusIcon"
      title="Banco"
      name="paymentMethod"
      [checked]="isBank"
      value="bank"
    />
  </div>
</form>
