<ul class="flex flex-col items-center justify-start w-full px-2 py-1 gap-1">
  @for (actor of actors; track actor.name; let i = $index) {
  <li class="flex flex-row w-full gap-2 items-center justify-start">
    <p class="overflow-hidden text-ellipsis text-nowrap w-32 text-start">
      {{ actor.name }}
    </p>
    <div class="flex-row gap-2 items-center justify-start">
      <!-- Inputs -->
      <div class="flex-1 flex-row">
        <label class="flex flex-row border p-1 w-16 rounded-md border-primary">
          <p class="font-bold mr-1">$</p>
          <input
            type="number"
            class="w-full"
            [formControl]="getActorQuantityControl(i)"
            [disabled]="isActorExcluded(actor.name)"
          />
        </label>
        <label class="flex flex-row border p-1 w-16 rounded-md border-primary">
          <input
            type="number"
            class="w-full"
            min="0"
            max="100"
            [formControl]="getActorPercentageControl(i)!"
            readonly
          />
          <p class="font-bold">%</p>
        </label>
      </div>
      <!-- Btns -->
      <div class="flex-row items-center justify-end gap-2">
        <button
          class="unstyled p-1"
          type="button"
          (click)="toggleActorLock(actor.name)"
        >
          @if (isActorExcluded(actor.name)) {
          <lucide-icon [img]="LockIcon" />
          } @else {
          <lucide-icon [img]="LockOpenIcon" />
          }
        </button>

        <button class="unstyled p-1" type="button" (click)="removeActor(i)">
          <lucide-icon [img]="TrashIcon" />
        </button>
      </div>
    </div>
  </li>
  }
</ul>
