<ul>
  <li
    *ngFor="let actor of actors.controls; let i = index"
    [formGroupName]="i"
    class="flex flex-row w-full gap-2 items-center justify-center"
  >
    <p class="overflow-hidden text-ellipsis text-nowrap">
      {{ actorList[i].name }}
    </p>
    <label class="flex flex-row border p-1 w-16 rounded-md">
      <p class="font-bold mr-1">$</p>
      <input
        type="number"
        formControlName="quantity"
        (input)="recalculatePercentages()"
        class="w-full"
      />
    </label>
    <label class="flex flex-row border p-1 w-16 rounded-md">
      <p class="font-bold">%</p>
      <input type="number" formControlName="percentage" class="w-full" />
    </label>
  </li>
</ul>
